In [1]:
# 상관관계 분석 시각화

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import gc
plt.rcParams['font.family'] = 'Malgun Gothic'  # 윈도우용 한글 폰트
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# segement 컬럼을 불러와 잔액정보 데이터프레임과 합쳐준다
df2 = pd.read_parquet('open/train/1.회원정보/201807_train_회원정보.parquet')
df3 = pd.read_parquet('open/train/1.회원정보/201808_train_회원정보.parquet')
df4 = pd.read_parquet('open/train/1.회원정보/201809_train_회원정보.parquet')
df5 = pd.read_parquet('open/train/1.회원정보/201810_train_회원정보.parquet')
df6 = pd.read_parquet('open/train/1.회원정보/201811_train_회원정보.parquet')
df7 = pd.read_parquet('open/train/1.회원정보/201812_train_회원정보.parquet')

In [3]:
all_df = pd.concat([df2, df3, df4, df5, df6, df7])
all_df.reset_index(inplace=True, drop=True)
all_df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [4]:
del df2, df3, df4, df5, df6, df7
gc.collect()

0

In [5]:
# 데이터 로드
df1 = pd.read_parquet('open/train/6.채널정보/6.채널정보_전처리완.parquet')
df1

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,IB문의건수_CL_RV_R6M,IB문의건수_CS_R6M,불만제기후경과월_R12M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,0,0,12,22,221,6,0,0,0,0
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,12,0,0,0,0,0,0,0
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,0,12,0,0,0,11,6,5,5
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,0,0,12,23,219,6,0,0,0,0
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,12,0,0,1,0,0,0,0
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,12,0,0,0,0,0,0,0
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
all_df['Segment']

0          D
1          E
2          C
3          D
4          E
          ..
2399995    E
2399996    D
2399997    C
2399998    E
2399999    E
Name: Segment, Length: 2400000, dtype: object

In [7]:
df = pd.concat([df1, all_df['Segment']], axis = 1)
df

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,IB문의건수_CS_R6M,불만제기후경과월_R12M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,Segment
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,0,12,22,221,6,0,0,0,0,D
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,12,0,0,0,0,0,0,0,E
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,12,0,0,0,11,6,5,5,C
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,0,12,23,219,6,0,0,0,0,D
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,12,0,0,1,0,0,0,0,D
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,12,0,0,0,0,0,0,0,C
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E

### 6.채널정보 target 데이터와의 상관계수

In [8]:
from scipy.stats import pearsonr, pointbiserialr, chi2_contingency
import numpy as np

In [9]:
# 상관계수 계산 함수들 정의
# -------------------------------

# 범주형 변수와의 상관계수 계산 함수
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2, _, _, _ = chi2_contingency(confusion_matrix)
    n = confusion_matrix.sum().sum()
    k = min(confusion_matrix.shape)
    return np.sqrt(chi2 / (n * (k - 1))) if k > 1 else np.nan

# 이진분류형 변수와의 상관계수 계산 함수
def point_biserial(x, y):
    return pointbiserialr(x, y)[0]

# 수치형 변수와의 상관계수 계산 함수
def pearson_corr(x, y):
    return pearsonr(x, y)[0]

# -------------------------------
# 상관계수 계산 (Segment 기준)
# -------------------------------

def segment_correlations(df, target_col='Segment'):

    # Step 1. Segment만 Label Encoding
    le = LabelEncoder()
    df[target_col] = le.fit_transform(df[target_col])
    target = df[target_col]

    results = {}

    for col in df.columns:
        if col == target_col:
            continue

        x = df[col]

        if np.issubdtype(x.dtype, np.number):
            # 수치형 변수
            results[col] = pearson_corr(x, target)

        elif x.nunique() == 2:
            # 이진 범주형 → Label Encoding
            x_encoded = LabelEncoder().fit_transform(x)
            results[col] = point_biserial(target, x_encoded)

        else:
            # 다중 범주형 → Cramér’s V
            results[col] = cramers_v(x, target)

    return pd.Series(results).sort_values(ascending=False)

In [10]:
correlations = segment_correlations(df, target_col='Segment')

In [12]:
# 상관계수 계산 결과가 correlations에 들어있다고 가정
filtered = correlations.abs()
filtered = filtered[filtered > 0.4].sort_values(ascending=False)
print(filtered)

ID    1.0
dtype: float64