In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet(r"C:\Users\rtc32\OneDrive\바탕 화면\final_project\project\train_all.parquet")

In [3]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [5]:
from sklearn.preprocessing import LabelEncoder
df_converted = df.copy()  # 원본 보존

# 1. datetime 컬럼 → int64로 변환
for col in df_converted.select_dtypes(include=['datetime64[ns]']).columns:
    df_converted[col] = df_converted[col].astype('int64')

# 2. object 컬럼 → LabelEncoder로 변환
for col in df_converted.select_dtypes(include=['object']).columns:
    try:
        le = LabelEncoder()
        df_converted[col] = le.fit_transform(df_converted[col].astype(str))  # NaN 포함 가능성 방지
    except Exception as e:
        print(f"⚠️ 컬럼 '{col}' 인코딩 중 오류 발생: {e}")

In [11]:

for col in df_converted.columns:
    print(f"컬럼명: {col}")
    print(f" - 데이터 타입: {df_converted[col].dtype}")
    print(f" - 고유값(최대 10개): {df_converted[col].unique()[:10]}")
    print("-" * 40)

컬럼명: ID
 - 데이터 타입: int32
 - 고유값(최대 10개): [0 1 2 3 4 5 6 7 8 9]
----------------------------------------
컬럼명: 기준년월
 - 데이터 타입: int64
 - 고유값(최대 10개): [201807 201808 201809 201810 201811 201812]
----------------------------------------
컬럼명: Segment
 - 데이터 타입: int32
 - 고유값(최대 10개): [3 4 2 0 1]
----------------------------------------
컬럼명: 이용금액_R3M_신용체크
 - 데이터 타입: int64
 - 고유값(최대 10개): [   196  13475  23988   3904   1190      0  10571   3463 124967  21001]
----------------------------------------
컬럼명: 이용금액_R3M_신용
 - 데이터 타입: int64
 - 고유값(최대 10개): [   196  13475  23988   3904      0  10571   3463 121279  21001  20212]
----------------------------------------
컬럼명: _1순위카드이용금액
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 3681 13323 24493  5933     0 10378  1062 68078 18796  9422]
----------------------------------------
컬럼명: _2순위카드이용금액
 - 데이터 타입: int64
 - 고유값(최대 10개): [    0  3196 38051  9942 23326  8190  1798  4184  8469  5346]
----------------------------------------
컬럼명: 이용금액_일시불_B0M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 1995  2862  5854   387     0  3334  2728 24242  2965  3410]
----------------------------------------
컬럼명: 이용건수_신용_R12M
 - 데이터 타입: int32
 - 고유값(최대 10개): [165 204 148 105  -1   0 369 863  34 129]
----------------------------------------
컬럼명: 이용건수_신판_R12M
 - 데이터 타입: int32
 - 고유값(최대 10개): [146 202 134  85  -1   0 148 369 863  34]
----------------------------------------
컬럼명: 이용건수_일시불_R12M
 - 데이터 타입: int32
 - 고유값(최대 10개): [143 202 131  74  -1   0 148 366 863  27]
----------------------------------------
컬럼명: 이용금액_일시불_R12M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 20667  54341  55656  10753  -2129      0  51382  25691 360859  34884]
----------------------------------------
컬럼명: 최대이용금액_일시불_R12M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 4906 10407 10112  3075    62     0  7318  3581 47166  6681]
----------------------------------------
컬럼명: 이용금액_일시불_R6M
 - 데이터 타입: int32
 - 고유값(최대 10개): [  8380  19426  35136  -7031    957      0  22495  19968 131028  19802]
----------------------------------------
컬럼명: 이용금액_일시불_R3M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 2877 14316 15694 -2710 -3383  -210 11254  9105 63825   331]
----------------------------------------
컬럼명: _1순위업종_이용금액
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 1928  2158 16924  2405     0  2465  1923 88663  8886  1893]
----------------------------------------
컬럼명: _2순위업종_이용금액
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 1408  2083  1539  2284     0  1623  1010 12427  4751  1648]
----------------------------------------
컬럼명: _3순위업종_이용금액
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 672 1659 1362  774    0 1361  595 6245 1457 4008]
----------------------------------------
컬럼명: _1순위쇼핑업종_이용금액
 - 데이터 타입: int32
 - 고유값(최대 10개): [  242   645  6094   801     0   875   984 47249  7643  2230]
----------------------------------------
컬럼명: _2순위쇼핑업종_이용금액
 - 데이터 타입: int32
 - 고유값(최대 10개): [   0  435 1038  487  267  913 2590 1929 1332  773]
----------------------------------------
컬럼명: 이용금액_오프라인_R6M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 11097  18638  29192  18056    787      0  19502   6929 138508  14580]
----------------------------------------
컬럼명: 이용금액_오프라인_R3M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 4131 14339 12250 10408     0  9030  2678 59760  7066  6310]
----------------------------------------
컬럼명: 이용금액_오프라인_B0M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 4043  3980  4524  3975     0  4009   986 16045  2437  1046]
----------------------------------------
컬럼명: 정상청구원금_B0M
 - 데이터 타입: int32
 - 고유값(최대 10개): [14440  6024 21929 18563     0  4949  2202 27704   250  6367]
----------------------------------------
컬럼명: 정상입금원금_B0M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 6335  5198 12564  7639     0  4949  1635 15359  1315 11559]
----------------------------------------
컬럼명: 정상청구원금_B2M
 - 데이터 타입: int32
 - 고유값(최대 10개): [16524  2420 21826 19172   272     0  4576  3696 24878  1644]
----------------------------------------
컬럼명: 정상입금원금_B2M
 - 데이터 타입: int32
 - 고유값(최대 10개): [16125  2420 14448 13043     0  4576  1808 11685  1439 22152]
----------------------------------------
컬럼명: 정상청구원금_B5M
 - 데이터 타입: int32
 - 고유값(최대 10개): [14958  3367 23963 19614     0  5182  5040 23104   543  2782]
----------------------------------------
컬럼명: 정상입금원금_B5M
 - 데이터 타입: int32
 - 고유값(최대 10개): [ 9205  2546 16949  8418     0  5182  2212 13341  3642 18243]
----------------------------------------
컬럼명: 이용금액대
 - 데이터 타입: int32
 - 고유값(최대 10개): [0 2 5 3 1 4]
----------------------------------------
컬럼명: 청구금액_R6M
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 88693  16861 165221 127371    155      0  33966  10610  94241  35723]
----------------------------------------
컬럼명: 청구금액_R3M
 - 데이터 타입: int64
 - 고유값(최대 10개): [46588 10530 85931 61518     0 16464  5308 62715 30449  6877]
----------------------------------------
컬럼명: 청구금액_B0
 - 데이터 타입: int64
 - 고유값(최대 10개): [12226  5834 21866 16356     0  5512  1600 20512 22512  1279]
----------------------------------------
컬럼명: 평잔_일시불_6M
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 2440  2677  9118   884    21     0  5374  1495 21006 15801]
----------------------------------------
컬럼명: 월중평잔_일시불_B0M
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 1084  4090  5006   487     0  4229  1707 30391 20494  1168]
----------------------------------------
컬럼명: 월중평잔_일시불
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 1503  4447  5540   606     0  4143  1599 31747 20916  1110]
----------------------------------------
컬럼명: 평잔_일시불_3M
 - 데이터 타입: int64
 - 고유값(최대 10개): [ 1791  3761  6796   772     0  4813  1547 28376 20399  1531]
----------------------------------------
컬럼명: 잔액_일시불_B0M
 - 데이터 타입: int64
 - 고유값(최대 10개): [  998  2565  5312   730     0  2609  1248 19144 20208  1337]
----------------------------------------

In [8]:
df_converted.dtypes

ID                 int32
기준년월               int64
Segment            int32
이용금액_R3M_신용체크      int64
이용금액_R3M_신용        int64
_1순위카드이용금액         int64
_2순위카드이용금액         int64
이용금액_일시불_B0M       int32
이용건수_신용_R12M       int32
이용건수_신판_R12M       int32
이용건수_일시불_R12M      int32
이용금액_일시불_R12M      int32
최대이용금액_일시불_R12M    int32
이용금액_일시불_R6M       int32
이용금액_일시불_R3M       int32
_1순위업종_이용금액        int32
_2순위업종_이용금액        int32
_3순위업종_이용금액        int32
_1순위쇼핑업종_이용금액      int32
_2순위쇼핑업종_이용금액      int32
이용금액_오프라인_R6M      int32
이용금액_오프라인_R3M      int32
이용금액_오프라인_B0M      int32
정상청구원금_B0M         int32
정상입금원금_B0M         int32
정상청구원금_B2M         int32
정상입금원금_B2M         int32
정상청구원금_B5M         int32
정상입금원금_B5M         int32
이용금액대              int32
청구금액_R6M           int64
청구금액_R3M           int64
청구금액_B0            int64
평잔_일시불_6M          int64
월중평잔_일시불_B0M       int64
월중평잔_일시불           int64
평잔_일시불_3M          int64
잔액_일시불_B0M         int64
dtype: object

In [15]:
df = df_converted.drop(columns=['기준년월', "ID", "Segment"])

In [16]:
# 상관계수로 선택된 변수만 사용
X = df

# 상수항 추가 (intercept term)
X = add_constant(X)

# VIF 계산
vif_df = pd.DataFrame()
vif_df["변수명"] = X.columns
vif_df["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# 결과 출력 (상수항 제외)
print(vif_df[vif_df["변수명"] != "const"])

                변수명           VIF
1     이용금액_R3M_신용체크      9.622707
2       이용금액_R3M_신용     88.312531
3        _1순위카드이용금액     52.518245
4        _2순위카드이용금액     12.729996
5      이용금액_일시불_B0M     56.813094
6      이용건수_신용_R12M  13316.366911
7      이용건수_신판_R12M  15031.001951
8     이용건수_일시불_R12M   3028.606699
9     이용금액_일시불_R12M     19.938680
10  최대이용금액_일시불_R12M      4.405540
11     이용금액_일시불_R6M     53.859971
12     이용금액_일시불_R3M     84.534472
13      _1순위업종_이용금액      5.834593
14      _2순위업종_이용금액      5.815241
15      _3순위업종_이용금액      6.399600
16    _1순위쇼핑업종_이용금액      2.958891
17    _2순위쇼핑업종_이용금액      5.676972
18    이용금액_오프라인_R6M      9.998201
19    이용금액_오프라인_R3M     11.292866
20    이용금액_오프라인_B0M     10.858182
21       정상청구원금_B0M     32.571054
22       정상입금원금_B0M     17.734041
23       정상청구원금_B2M     29.541772
24       정상입금원금_B2M     15.601714
25       정상청구원금_B5M     18.656709
26       정상입금원금_B5M     11.409215
27            이용금액대      4.965438
28         청구금액_R6M     13.061072
29         청구금액_R3M     26.211101
30          청구금액_B0     18.883637
31        평잔_일시불_6M     16.019821
32     월중평잔_일시불_B0M     29.226307
33         월중평잔_일시불     30.379708
34        평잔_일시불_3M     22.002097
35       잔액_일시불_B0M     12.087567

In [18]:
vif_filtered = vif_df[vif_df['VIF'] <= 10]
print(vif_filtered)

                변수명       VIF
1     이용금액_R3M_신용체크  9.622707
10  최대이용금액_일시불_R12M  4.405540
13      _1순위업종_이용금액  5.834593
14      _2순위업종_이용금액  5.815241
15      _3순위업종_이용금액  6.399600
16    _1순위쇼핑업종_이용금액  2.958891
17    _2순위쇼핑업종_이용금액  5.676972
18    이용금액_오프라인_R6M  9.998201
27            이용금액대  4.965438